* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: $font-family;
    background-color: $main-color;
  }
  
  h1, h2, h3, p {
    margin: 0;
  }