:root {
    --main-color: #eeeff1;
    --secondary-color: #f9f9f9;
    --active-color: #34547a;
    --header-fontsize: 16px;
    --big-header-fontsize: 32px;
    --header-fontweight: 500;
    --content-fontweight: 400;
    --font-family: "Roboto", sans-serif;
    --text-color: #727272;
    --color-blue: #34547a;
    --container: 1110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}

.container {
    width: min(100% - 40px, var(--container));
    margin-inline: auto;
    padding: 0 20px;
}

.header {
    background-color: var(--main-color);
}

.navbar {
    padding-top: 79px;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.navbar__list-item {
    font-family: var(--font-family);
    font-weight: var(--header-fontweight);
    font-size: var(--header-fontsize);
    text-decoration: none;
    color: black;
    line-height: 26.25px;
    letter-spacing: 0.1em;
    margin: 0 23px;
}

.navbar__list-item--active {
    color: var(--active-color);
}

.header__title {
    font-family: var(--font-family);
    font-weight: var(--header-fontweight);
    font-size: 48px;
    color: black;
    padding-top: 162px;
}

.header__text {
    width: 540px;
    color: var(--text-color);
    font-size: var(--header-fontsize);
    font-family: var(--font-family);
    font-weight: var(--content-fontweight);
    line-height: 26.25px;
    padding-top: 60px;
}

.button {
    display: flex;
    font-family: var(--font-family);
    font-weight: var(--content-fontweight);
    letter-spacing: 0.1em;
    width: 228px;
    height: 66px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-blue);
    text-decoration: none;
    margin-top: 65px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 60px 0;
}

.about__header {
    font-weight: var(--header-fontweight);
    font-family: var(--font-family);
    line-height: 37.5px;
    font-size: 32px;
    text-align: center;
}

.about__text {
    width: 540px;
    font-weight: var(--content-fontweight);
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
    line-height: 26.25px;
    padding-top: 20px;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
    padding: 30px 0;
}

.projects__title {
    display: none; 
}

.projects__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.projects__item img {
    max-width: 100%;
    height: auto;
}

.item__number, .item__text {
    color: white;
    font-family: var(--font-family);
}

.item__number {
    font-size: 21px;
    line-height: 24.61px;
}

.item__text {
    font-size: 16px;
    line-height: 26.25px;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 60px 0;
}

.work__header {
    font-size: var(--big-header-fontsize);
    line-height: 37.5px;
    font-family: var(--font-family);
    margin: 0;
}

.work__text {
    width: 540px;
    font-size: var(--header-fontsize);
    font-weight: var(--content-fontweight);
    line-height: 26.25px;
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
    padding-top: 20px;
}

.video {
    border: none;
    width: 100%;
    height: auto;
}

.footer {
    background-color: var(--color-blue);
    padding: 20px 0;
    text-align: center;
}

.footer__header {
    color: white;
    font-size: 21px;
    font-family: var(--font-family);
    font-weight: var(--header-fontweight);
}

.footer__text {
    color: white;
    font-family: var(--font-family);
    font-weight: var(--content-fontweight);
    font-size: 13px;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header__title {
        font-size: 24px;
        padding-top: 40px;
    }

    .header__text {
        font-size: 14px;
        width: 100%;
        padding-top: 20px;
    }

    .button {
        width: 100%;
        font-size: 14px;
        padding: 15px;
    }

    .about__header {
        font-size: 24px;
    }

    .about__text {
        font-size: 14px;
        width: 100%;
        padding-top: 10px;
    }

    .projects {
        padding: 20px 0;
    }

    .projects__item {
        width: 100%;
        padding: 10px 0;
    }

    .work__header {
        font-size: 24px;
    }

    .work__text {
        font-size: 14px;
        width: 100%;
        padding-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .header__title {
        font-size: 32px;
    }

    .header__text {
        font-size: 16px;
        width: 90%;
        padding-top: 30px;
    }

    .button {
        width: 80%;
        font-size: 16px;
        padding: 10px;
    }

    .about__header {
        font-size: 28px;
    }

    .about__text {
        font-size: 16px;
        width: 90%;
        padding-top: 20px;
    }

    .projects {
        height: auto;
        padding: 30px 0;
    }

    .projects__item {
        width: 30%;
    }

    .work__header {
        font-size: 28px;
    }

    .work__text {
        font-size: 16px;
        width: 90%;
        padding-top: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: var(--container);
    }

    .header__title {
        font-size: 48px;
    }

    .header__text {
        font-size: var(--header-fontsize);
        width: 60%;
    }

    .button {
        width: 228px;
        font-size: var(--header-fontsize);
    }

    .about__header {
        font-size: var(--big-header-fontsize);
    }

    .about__text {
        font-size: var(--header-fontsize);
        width: 60%;
    }

    .projects__item {
        width: 141px;
    }

    .work__header {
        font-size: var(--big-header-fontsize);
    }

    .work__text {
        font-size: var(--header-fontsize);
        width: 60%;
    }
}
